
$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


html,body,div.container-main{
  height: 100%;
  padding: 0;
  margin:0 auto;
  overflow: hidden;
}

//debug
//*{ border:thin solid;}

body{
  //start
  ul{
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #555;
  }
  .container-main.color-theme{
    background-image: url("../images/firefly-green.jpg");
    transition: background 1.6s;
    header{
      span.glyphicon-cog{
        color: #fff;
      }
    }
    #title,#storyBoard,footer{
      color: #fff6de;
      a{
        text-decoration: none;
        color: #fff6de;
      }
    }
    //粒子样式
    .light-circle{
      background-color: rgba(156,192,99,.87);
      box-shadow: #7be500 0 0 1.5em 0.1em;
    }
  }
  .container-main{
    color: #555;
    background-size: cover;
    background-image: url("../images/white.png");
    //nav set
    header .dropdown-mhz{
      position: relative;
      button{
        outline: none;
      }
      .dropdown-menu-mhz{
        &:hover{
          cursor: pointer;
        }
        position: absolute;
        z-index: 1;
        width: 220px;
        background: rgba(255, 255, 255, 0.78);
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 1.1em;
        li{
          margin:15px 0;
          &>button{
            display: block;
            width: 100%;
            position: relative;
            background:none;
            border:none;
            text-align: left;
            &>div{
              position: absolute;
              right: 0;
            }
          }
          #aboutModal .modal-dialog{
            margin-top: 10%;
          }
        }
      }
    }

    //诗句
    #storyBoard{
      height: 75%;
      margin:0 auto;
      width: 900px;
      text-align: center;
      #title {
        margin:8% auto 5%;
        text-align: center;
        font-size: 52px;
        font-family: "Songti TC";
        letter-spacing: 12px;
      }
        p{
          opacity: 0;
          display: inline-block;
          text-align: left;
          transition-property: opacity,color;
          transition-duration: 4.8s;
          transition-timing-function: linear;

          writing-mode:  vertical-lr;
          font-size: 46px;
          font-family: "Kaiti TC";
          letter-spacing: 20px;
          height:400px;
          line-height: 100px;
        }
    }
    // 粒子
    .light-circle{
      position: absolute;
      bottom: -3.5%;
      min-width:2px;
      min-height: 2px;
      border-radius: 50%;
      transition-property: transform , opacity;
      transition-timing-function: linear;
      background-color: #333;
      &::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }
    //页脚
    footer{
      height: 20%;width: 100%;
      //margin-top: -2%;
      p{
        font-size: .9em;
        width: 400px;
        margin:0 auto;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

    }
    //遮罩
    .masker{
      position: absolute;
      z-index:1;
      top:0;
      left:0;
      width: 100%;
      height:100%;
      background-color: rgba(0,0,0,.25);
      transition: background .5s;
    }
  }
  .modal-backdrop{
    z-index: 0;
  }
  .switcher-mhz{
    display: inline-block;
    width: 45px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: background-color .3s linear;
    border:1px solid rgba(0,0,0,.1);
    background-color: #64DD17;

    /*需要注意!!!!*/
    float: right;
  }
  .switcher-mhz.bg-color{
    background-color: #616161;
  }
  .switcher-btn>div{
    padding: 0; margin: 0;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: transform .2s linear,background-color .4s;
    background-color: #fff;
    position: absolute;
    right: 0;
  }
  .off>div{
    transform: translateX(-25px)!important;
  }

  //  end
}
