.switcher-mhz{
  display: inline-block;
  width: 45px;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: background-color .3s linear;
  border:1px solid rgba(0,0,0,.1);
  background-color: #64DD17;
}
.switcher-mhz.bg-color{
  background-color: #616161;
}
.switcher-btn{
  padding: 0; margin: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: transform .2s linear,background-color .4s;
  background-color: #fff;
  position: absolute;
  right: 0;
}
.switcher-btn.off{
  transform: translateX(-25px);
}
